.message {
    display: flex;
    justify-content: flex-end;
    min-height: 77px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;

}

.imageAndText img {
    height: 48px;
    width: 48px;
    margin-left: 12px;
    margin-top: 12px;
}

.text {
    text-align: end;
    padding: 8px 15px;
    background-color: #06c;
    border-radius: 8px 8px 0 8px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    position: relative;
    max-height: 60px;

}

.text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 12px;
    height: 11px;
    background-color: #06c;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.name {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.messageText {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.time {
    align-self: flex-end;
    height: 12px;
    width: 26px;
    font-weight: 600;
    font-size: 10px;
    color: #000;
    position: absolute;
    right: 80px;
}