.friendMessage {
    display: flex;
    min-height: 77px;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    height: 48px;
    width: 48px;
    margin-right: 12px;
    margin-top: 12px;
}

.friendText {
    padding: 8px 15px;
    background-color: #f5f7fb;
    border-radius: 8px 8px 8px 0;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    position: relative;
    max-height: 60px;
}

.friendText:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 12px;
    height: 11px;
    background-color: #f5f7fb;
    clip-path: polygon(0 0,100% 0, 100% 100%);
    filter: drop-shadow(1px 1px 1px rgba(29, 33, 38, 0.1));
}

.friendName {
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.friendTime {
    align-self: end;
    height: 12px;
    width: 26px;
    font-weight: 600;
    font-size: 10px;
    color: #000;
    position: absolute;
    left: 80px;

}
