.sendForm {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;

}

.textarea {
    padding: 10px;
    border-radius: 20px;
    width: 976px;
    height: 40px !important;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
    resize: none;
    border: none;
}

.button {
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background: #06c;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    transform: scale(0.95);
}
